$font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;;

// Nossa Paleta
$primary-color: #ffee32;
$secondary-color: #d6d6d6;
$background-color: #f5f3f4;
$light-black-color: #333533;
$dark-black-color: #202020;